<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>Metrics</div>
<div>
    <a th:href="@{'/metrics?offset_id=' + ${lastId}}">Next Page</a>
</div>
<table>
    <tr>
        <td>ID</td>
        <td>Site URL</td>
        <td>Status code</td>
        <td>Response time</td>
        <td>Matched regex</td>
    </tr>
    <tr th:each="metric: ${metrics}">
        <td th:text="${metric.id}" />
        <td th:text="${metric.siteUrl}" />
        <td th:text="${metric.statusCode}" />
        <td th:text="${metric.responseTime}" />
        <td th:text="${metric.matchesRegex}" />
    </tr>
</table>
</body>
</html>